

.matchesContainer {
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center the match list */
}

.matchList {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Limit the width of the match list */
  width: 100%; /* Ensure it takes up the full width available */
}

.matchItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.matchLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.profilePicture {
  width: 40px; /* Reduce size of the profile picture */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username {
  font-weight: bold;
}

.messagePreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.lastMessage {
  color: #666;
  font-size: 0.9em;
  flex: 1;
}

.messageTime {
  color: #666;
  font-size: 0.8em;
  margin-left: 10px;
}
