

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin:  auto;
  }
  
  .swipeContainer {
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    margin-top: 20px;
  }

  .viewMatchesButton{
    background-color: #009596;
  }

  .viewMatchesButton:hover{
    background-color: #007373;
  }
  
  .matchPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff69b4; /* Pink background color */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: blink 2s infinite; /* Blink animation for 2 seconds */
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @media (max-width: 600px) {
    .header {
      display: none; /* Hide header on small screens */
    }
  
    .footer-icons {
      display: flex; /* Show footer icons on small screens */
    }
  
    .logout {
      position: fixed;
      top: 10px;
      right: 20px;
      background-color: #333;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      z-index: 1001;
    }
  }