.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the container takes the full viewport height */
  background: linear-gradient(to right, #f9f9f9, #e9ebee);
}

.loginForm {
  display: flex;
  max-width: 800px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.15s ease-in-out;
}

.loginForm:hover {
  transform: translateY(-5px);
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.formContainer {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.formContainer label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.formContainer input[type="text"],
.formContainer input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.formContainer input:focus {
  border-color: #007bff;
}

.formContainer button {
  width: 100%;
  padding: 12px;
  background-color: #fe4f7b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.formContainer button:hover {
  background-color: #f62055;
}

.formContainer p {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.formContainer p a {
  color: #000506;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
}

.formContainer p a:hover {
  color: #004085;
}

@media (max-width: 768px) {
  .loginForm {
    flex-direction: column;
  }

  .imageContainer {
    border-radius: 8px 8px 0 0;
  }

  .formContainer {
    border-radius: 0 0 8px 8px;
  }
}
