.loginForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to right, #f9f9f9, #e9ebee);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.15s ease-in-out;
}

.loginForm:hover {
  transform: translateY(-5px);
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px; /* Increase font size for better visibility */
}

.loginForm label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.loginForm input[type="text"],.loginForm input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none; /* Remove outline for a cleaner look */
}

.loginForm input:focus {
  border-color: #007bff; /* Change border color on focus */
}

.loginForm button {
  width: 100%;
  padding: 12px;
  background-color: #fe4f7b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.loginForm button:hover {
  background-color: #f62055 /* Darker shade on hover */
}

/* Style for the registration link */
.loginForm p {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.loginForm p a {
  color: #007bff;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.loginForm p a:hover {
  color: #004085; /* Darker shade on hover */
}
.loginForm img {
  max-width: 100%; /* Ensures the image does not exceed the width of its container */
  height: auto; /* Adjusts the height automatically to maintain the aspect ratio */
}
